<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal">
    <div class="mb-3 ">
      <%= link_to "", @buffet, class: "btn btn-close btn-sm" %>
    </div>
    <p>Solicitação de Evento ao <%= @buffet.social_name %></p>
    <% @event_types.each do |event_type| %>
      <%= link_to event_type.name, new_event_type_order_path(event_type_id: event_type.id), class: "d-block" %>
    <% end %>    
  </div>
<% end %>
