<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal">
    <div class="mb-3 ">
      <%= link_to "", "#", class: "btn btn-close btn-sm" %>
    </div>

    <p>Tipo de Evento - <%= @event_type.name %></p>
    <%= render "form" %>

  </div>
<% end %>

