<%= turbo_frame_tag "modal" do %>
  <div class="dean-modal">
    <div class="mb-3 ">
      <%= link_to "", :back, class: "btn btn-close btn-sm" %>
    </div>

    <p>Novo Tipo de Evento</p>
    <%= render "form" %>

  </div>
<% end %>
