::selection {
  background-color: $rosa;
}

.form-control {
  background-color: #eef2fd;
}

.form-control:focus {
  background-color: #eef2fd;
}

.form-select {
  background-color: #eef2fd;
}

body {
  background: $azulbg;
}

.card {
  max-width: 40rem;
}

.bold {
  font-weight: bold;
}

.fs-7 {
  font-size: 0.875rem;
}

.fs-8 {
  font-size: 0.75rem;
}
