<div class="container text-center mt-5">
  <div class="alert alert-secondary">
    <h4>Você está na homepage da aplicação</h4>
    <h3 class="bold">Cadê Buffet?</h3>
    <%= image_tag "racoon_icon" %>
    <h4>Se conecte aos nossos Buffets e conheça os tipos de eventos!</h4>
    <h4>Faça pedidos e avalie buffets!</h4>
  </div>
</div>
